body {
	padding: 10px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
	text-align: center;
}

button {
	background-color: #06FFC0;
	padding: 12px 6px;
	border-radius: 3px;
	border: 1px solid #96FFC0;
	color: white;
}