<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <link rel="stylesheet" th:href="@{/css/email.css}">
</head>
<body style="text-align: center">
    <p>CONFIRM YOUR EMAIL</p>
    <h1>Thanks for registering with US.</h1>
    <p>I don't know what to put here.</p>
    <button style="
        background-color: #06FFC0;
        padding: 12px 6px;
        border-radius: 3px;
        border: 1px solid #96FFC0;
        color: white;
    ">CONFIRM EMAIL ADDRESS</button>
    <p>Thanks,</p>
    <h3>From Our Team</h3>
</body>
</html>